$black: #000;
$white: #fff;

$neutral100: #eeeeee;
$neutral200: #dddddd;
$neutral300: #cccccc;
$neutral400: #bbbbbb;
$neutral500: #aaaaaa;
$neutral600: #999999;
$neutral700: #777777;
$neutral800: #555555;
$neutral900: #333333;
$neutral1000: #111111;

$green: #00ed64;
$purple: #a57de7;
$red: #d24f4f;
$yellow: #ffe212;
$orange: #ffbd3e;
$teal: #23a094;
